.login{
    background-color: bisque;
    border: 1px solid red;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
    padding: 1%;
    
}
#bt1{
    color: black;
    background-color: aquamarine;
    padding-left: 21.5%;
    padding-right: 21.5%;

}